/* ---------- GLOBAL RESET + ROOT SETTINGS ---------- */
html {
    box-sizing: border-box;
    height: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-family: 'Dosis';
    font-display: auto;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    background-size: 300% 300%;
    animation: gradientAnimation 12s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0%, 100% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
}

/* ---------- CALCULATOR CONTAINER ---------- */
.wrapper {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 5px solid rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.15);
    color: #232323;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px 40px;
}

.result-screen {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

/* ---------- BASE BUTTON STYLE ---------- */
.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 2px solid rgba(205, 205, 205, 0.4);
    border-radius: 16px;
    box-shadow: inset 0 -1px 0 #aaa, 0 4px 0 #bbb;
    color: #232323;
    cursor: pointer;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    transition: transform 0.1s  ease, font-size 0.1s ease, box-shadow 0.25s ease;
}

.calc-button:last-child {
    background: rgba(244, 14, 129, 0.75);
    box-shadow: inset 0 -1px 0 #db52c2, 0 4px 0 #d033a6;
    color: #fff;
    transition: transform 0.1s ease, font-size 0.1s ease, font-weight 0.1s ease, box-shadow 0.25s ease;
}

.calc-button:hover {
    font-size: 25px;
    transform: scale(1.1);
    background: inherit;
}

.calc-button:last-child:hover {
    font-weight: 800;
    background: rgba(244, 14, 129, 0.30);
}

.calc-button:active, 
.calc-button.pressed {
    box-shadow: none;
    font-size: 30px;
    transform: translateY(5px);
    background: rgba(255, 255, 255, 0.75);
}

.calc-button:last-child:active, 
.calc-button.pressed:last-child {
    background: rgba(244, 14, 129, 0.75);
}

/* ---------- FLEX SIZE MODIFIERS ---------- */
.double-length { flex-basis: 47%; }
.triple-length { flex-basis: 73%; }